@charset "utf-8";
.list-group{
    display:none;
}

.show {
    display:block;
}
.btn-1{
    
}

.alertbox{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid blue;
    border-radius: 5px;
    padding: 50px 0 0 18px;

}

.bgc {
    position:absolute;
    width: 100%;
    height: 100%;
    top:0;
    background-color: black;
    opacity: 0.5;

}